.sidePage {
  background-color: transparent;
  position: absolute;
  .clickArea {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgba(100, 5, 95, 0.3);
    &.more {
      background-color: transparent;
    }
  }
  .sidePageItem {
    background-color: transparent;
    position: absolute;
    .clickAreaItem {
      display: block;
      height: 100vh;
      width: 100vw;
      background-color: transparent;
    }
    .spWrap {
      display: block;
      position: absolute;
      right: 0;
      height: 100%;
      width: 0;
      background-color: white;
      border-left: 1px solid grey;
      transition: width ease-out 600ms;
    }

    &.scaleElement {
      .spWrap {
        right: 0;
        width: 30%;
        transition: width ease-out 600ms;
      }
    }
  }
}

